.contacts {
  background-image: url(../../img/footer/Rectangle.jpg);
  background-repeat: no-repeat;
}
.contacts__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.contacts__text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgb(68, 68, 68);
}
