.main-list__title {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(34, 34, 34);
}
.main-list__features {
  font-size: 12px;
  line-height: 16px;
}
.main-list__discription {
  font-size: 12px;
  line-height: 16px;
}
