.promo {
  padding: 27px 36px 20px 36px;
  background-image: url(../../img/header/index-background-desktop2.jpg);
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}
.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 36px;
}
.promo__discription {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
.promo__image {
  margin-bottom: 3px;
}
