.results {
  background-color: rgb(234, 234, 234);
}
.results__title {
  font-size: 60px;
  line-height: 60px;
}
.results__discription {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.results__term {
  font-size: 30px;
  line-height: 37px;
}
.results__definition {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
}
.results__text {
  line-height: 20px;
}
