.secondary-list__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.secondary-list__features {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.secondary-list__item {
  margin-bottom: 19px;
  padding-top: 13px;
}
